In [2]:
import pandas
import csv
from pandas.core.frame import DataFrame
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
import string
import nltk
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\GP_HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\GP_HP\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
rentals_file = pandas.read_csv(("Airbnb_Texas_Rentals.csv"), sep =",", delimiter= None, header = "infer", 
                               names = None, index_col = None,encoding="ISO-8859-1" , usecols = None)

rentals_file.head()

In [2]:
#creating tsv files
i = 0
for r in range(len(rentals_file)):
    record = rentals_file.loc[[r]]
    name = "doc_" + str(i) +".tsv"
    record.to_csv(path_or_buf = name, sep='\t')
    
    i += 1

In [38]:
#reading one of these files
d = pandas.read_csv(("doc_0.tsv"), sep ="\t")

In [3]:
#function to read the tsv file
def read(file_name):
    pandas.read_csv(file_name, sep ="\t", delimiter= None, header = "infer", names = None, index_col = None, usecols = None,
                       encoding="ISO-8859-1")

In [4]:
for i in range(len(rentals_file)):
    name = "doc_" + str(i) +".tsv"
    read(name)

In [39]:
from nltk.tokenize import sent_tokenize, word_tokenize
 
print(d['title'])    

stopwo = set(stopwords.words('english'))
other_stop = set(['0','Name', 'title', 'dtype', 'object'])

stop = stopwo.union(other_stop)
words = word_tokenize(str(d['title']))
wordsFiltered = []

for w in words:
    if w not in stop:
        wordsFiltered.append(w)
print(wordsFiltered)

no_punct = []
punct = set(string.punctuation)
for w in wordsFiltered:
    if w not in punct:
        no_punct.append(w)

d['title'] = str(no_punct)

print(no_punct)

print(d['title'])

0    2 Private rooms/bathroom 10min from IAH airport
Name: title, dtype: object
['2', 'Private', 'rooms/bathroom', '10min', 'IAH', 'airport', ':', ',', ':']
['2', 'Private', 'rooms/bathroom', '10min', 'IAH', 'airport']
0    ['2', 'Private', 'rooms/bathroom', '10min', 'I...
Name: title, dtype: object

In [42]:
#colnames = list(d.head(0))

d.head()

,Unnamed: 0,Unnamed: 0.1,average_rate_per_night,bedrooms_count,city,date_of_listing,description,latitude,longitude,title,url
0,0,1,$27,2,Humble,May 2016,Welcome to stay in private room with queen bed...,30.020138,-95.293996,"['2', 'Private', 'rooms/bathroom', '10min', 'I...",https://www.airbnb.com/rooms/18520444?location...