In [2]:
import pandas
import csv
from pandas.core.frame import DataFrame
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
import string
import nltk
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\GP_HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\GP_HP\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
rentals_file = pandas.read_csv(("Airbnb_Texas_Rentals.csv"), sep =",", delimiter= None, header = "infer", 
                               names = None, index_col = None,encoding="ISO-8859-1" , usecols = None)

rentals_file.head()

In [2]:
#creating tsv files
i = 0
for r in range(len(rentals_file)):
    record = rentals_file.loc[[r]]
    name = "doc_" + str(i) +".tsv"
    record.to_csv(path_or_buf = name, sep='\t')
    
    i += 1

In [93]:
#reading one of these files
d = pandas.read_csv(("doc_1.tsv"), sep ="\t")

print(d['title'])  

type(d['title'])

0    Unique Location! Alamo Heights - Designer Insp...
Name: title, dtype: object

pandas.core.series.Series

In [3]:
#function to read the tsv file
def read(file_name):
    pandas.read_csv(file_name, sep ="\t", delimiter= None, header = "infer", names = None, index_col = None, usecols = None,
                       encoding="ISO-8859-1")

In [4]:
for i in range(len(rentals_file)):
    name = "doc_" + str(i) +".tsv"
    read(name)

In [95]:
from nltk.tokenize import sent_tokenize, word_tokenize
 
stopwo = set(stopwords.words('english'))
other_stop = set(['0','Name', 'title', 'dtype', 'object'])

stop = stopwo.union(other_stop)
words = word_tokenize(str(d['title']))
wordsFiltered = []

for w in words:
    if w not in stop:
        wordsFiltered.append(w)
print(wordsFiltered)

no_punct = []
punct = set(string.punctuation)
punct.add('...')
for w in wordsFiltered:
    if w not in punct:
        no_punct.append(w)

d['title'] = pandas.Series(str(no_punct))

print(no_punct)

print(d['title'])

['Unique', 'Location', '!', 'Alamo', 'Heights', '-', 'Designer', 'Insp', '...', ':', ',', ':']
['Unique', 'Location', 'Alamo', 'Heights', 'Designer', 'Insp']
0    ['Unique', 'Location', 'Alamo', 'Heights', 'De...
Name: title, dtype: object
0    ['Unique', 'Location', 'Alamo', 'Heights', 'De...
Name: title, dtype: object

In [97]:
#colnames = list(d.head(0))
#d['title'].apply(word_tokenize)
d.head()

,Unnamed: 0,Unnamed: 0.1,average_rate_per_night,bedrooms_count,city,date_of_listing,description,latitude,longitude,title,url
0,1,2,$149,4,San Antonio,November 2010,"Stylish, fully remodeled home in upscale NW â...",29.503068,-98.447688,"['Unique', 'Location', 'Alamo', 'Heights', 'De...",https://www.airbnb.com/rooms/17481455?location...

In [98]:
d['description']

0    Stylish, fully remodeled home in upscale NW â...
Name: description, dtype: object